<li class="nav-dropdown-container learn">
    <a class="nav-link<%- page.path.match(/\/(smartcontract)|(fibos)|(fibos.js)|(rpc)(\/|$)/) ? ' current' : '' %>">技术手册</a><span class="arrow"></span>
    <ul class="nav-dropdown">
      <li><ul>
        <li><a href="<%- url_for("/api/smartcontract/index.html") %>" class="nav-link<%- page.path.match(/\/smartcontract(\/|$)/) ? ' current' : '' %>">JS Contract</a></li>
        <!-- <li><a href="<%- url_for("/api/eosio-contract/eosioIndex.html") %>" class="nav-link<%- page.path.match(/\/eosio-contract(\/|$)/) ? ' current' : '' %>">eosio contract</a></li>
        <li><a href="<%- url_for("/api/token/tokenIndex.html") %>" class="nav-link<%- page.path.match(/\/token(\/|$)/) ? ' current' : '' %>">eosio.token contract</a></li> -->
        <!-- <li><a href="<%- url_for("/api/fibosjs/index.html") %>" class="nav-link<%- page.path.match(/\/fibosjs(\/|$)/) ? ' current' : '' %>">FIBOS.JS</a></li> -->
        <li><a href="<%- url_for("/api/fibos/index.html") %>" class="nav-link<%- page.path.match(/\/fibos(\/|$)/) ? ' current' : '' %>">FIBOS Node</a></li>
        <li><a href="<%- url_for("/api/rpc/index.html") %>" class="nav-link<%- page.path.match(/\/rpc(\/|$)/) ? ' current' : '' %>">RPC API</a></li>
        <li><a href="http://www.fibjs.org/docs/manual/module/readme.md.html" target="_blank">FIBJS API</a></li>
      </ul></li>
    </ul>
  </li>