<li class="nav-dropdown-container language">
  <% if (page.lang === 'zh-cn'||page.lang === 'jp') { %>
    <a class="nav-link"><img src="<%- url_for("/images/zh.png") %>"></a><span class="arrow"></span>
  <% } %>
  <% if (page.lang === 'en-us') { %>
    <a class="nav-link"><img src="<%- url_for("/images/en.png") %>"></a><span class="arrow"></span>
  <% } %>
<ul class="nav-dropdown">
    <li>
        <a href="<%- url_for_lang(switch_lang('zh-cn')) %>"><img  src="<%- url_for("/images/zh.png") %>">
        <span class= 'lang'>简体中文</span>
        </a>
    </li>
    <li>
        <a href="<%- url_for_lang(switch_lang('en-us')) %>"><img  src="<%- url_for("/images/en.png") %>">
        <span class= 'lang'>English</span>
        </a>
    </li>
</ul>
</li>
