<!-- <li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li> -->
<li>
  <a href="<%- url_for("/") %>" class="nav-link contribute">首页</a>
</li>
<%- partial('partials/learn_dropdown') %>
<%- partial('partials/api_dropdown') %>
<!-- <li>
  <a href="<%- url_for("/api/technology/index.html") %>" class="nav-link team<%- page.path.match(/\/(technology)(\/|$)/) ? ' current' : '' %>">技术手册</a>
</li> -->
<li>
  <a href="http://forum.fo/" class="nav-link contribute " target="_blank">社区</a>
</li>
<li>
  <a href="https://fibos.io/" class="nav-link contribute" target="_blank">FIBOS</a>
</li>
<!-- <%- partial('partials/language_dropdown') %> -->