<ul class="menu-root">
    <% ['api', 'style-guide'].indexOf(type) === -1 && site.pages.find({type: type}).sort('order').each(function (p) { %>
      <% var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1') %>
      <% if (p.language === 'en' && page.lang === 'en-us') { %>
        <% if (type === 'tutorials') { %>
          <% if (fileName === 'tutorials-instructions') { %>
            <li><h3><%= __('submenu.tutorials') %></h3></li>
          <% } %>
          <% if (fileName === 'smart-contract-instructions') { %>
            <li><h3><%= __('submenu.contract') %></h3></li>
          <% } %>
          <% if (fileName === 'system-resources') { %>
            <li><h3><%= __('submenu.system') %></h3></li>
          <% } %>
          <% if (fileName === 'token-transfer') { %>
            <li><h3><%= __('submenu.economic') %></h3></li>
          <% } %>
          <% if (fileName === 'node-instruction') { %>
            <li><h3><%= __('submenu.node') %></h3></li>
          <% } %>
        <% } %>
        <li>
          <a href="<%- url_for_lang(p.path) %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
        </li>
      <% } %>
  
      <% if (p.language === 'zh-cn'&& page.lang === 'zh-cn') { %>
        <% if (type === 'tutorials') { %>
          <% if (fileName === 'tutorials-instructions') { %>
            <li><h3><%= __('submenu.tutorials') %></h3></li>
          <% } %>
          <% if (fileName === 'smart-contract-instructions') { %>
            <li><h3><%= __('submenu.contract') %></h3></li>
          <% } %>
          <% if (fileName === 'system-resources') { %>
            <li><h3><%= __('submenu.system') %></h3></li>
          <% } %>
          <% if (fileName === 'token-transfer') { %>
            <li><h3><%= __('submenu.economic') %></h3></li>
          <% } %>
          <% if (fileName === 'node-instruction') { %>
            <li><h3><%= __('submenu.node') %></h3></li>
          <% } %>
        <% } %>
        <li>
          <a href="<%- url_for_lang(p.path) %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
        </li>
      <% } %>
    <% }) %>
  </ul>
  
