<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>


<div id="hero">
  <div class="inner">
    <h1><%= __('main.title') %></h1>
    <p class="introduce">
      <%= __('main.text') %>
    </p>
    <p class="start">
      <a class="button white" href="<%- url_for_lang("/guide/installation.html") %>"><%= __('main.button') %></a>
      <a class="button gray has-icon" href="https://github.com/fibosio" target="_blank">
        <%- partial('icons/github-dark') %>
        GITHUB</a>
    </p>
  </div>
</div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2><%= __('active.start') %></h2>
      <ul>
        <li>
          <a href="<%- url_for_lang("/guide/introduction.html") %>"><%= __('submenu.introduction') %></a>
        </li>
        <li>
          <a href="<%- url_for_lang("/guide/installation.html") %>"><%= __('submenu.installation') %></a>
        </li>
        <li>
          <a href="<%- url_for_lang("/guide/start.html") %>"><%= __('submenu.start') %></a>
        </li>
        <li>
          <a href="<%- url_for_lang("/guide/tutorials-instructions.html") %>"><%= __('submenu.tutorials') %></a>
        </li>
      </ul>
    </div>

    <div class="point">
      <h2><%= __('active.advanced') %></h2>
      <ul>
        <li>
          <a href="<%- url_for_lang("/guide/smart-contract-instructions.html") %>"><%= __('submenu.contract') %></a>
        </li>
        <li>
          <a href="<%- url_for_lang("/guide/system-resources.html") %>"><%= __('submenu.system') %></a>
        </li>
        <li>
          <a href="<%- url_for_lang("/guide/token-transfer.html") %>"><%= __('submenu.economic') %></a>
        </li>
        <li>
          <a href="<%- url_for_lang("/guide/node-instruction.html") %>"><%= __('submenu.node') %></a>
        </li>
      </ul>
    </div>

    <div class="point">
      <h2><%= __('active.api') %></h2>
      <ul>
        <li>
            <a href="<%- url_for_lang("/api/smartcontract/index.html") %>"><%= __('content.js') %></a>
        </li>
        <li>
            <a href="<%- url_for_lang("/api/fibos/index.html") %>"><%= __('content.node') %></a>
        </li>
        <li>
            <a href="<%- url_for_lang("/api/eosiocontract/index.html") %>"><%= __('content.system') %></a>
        </li>
        <li>
            <a href="<%- url_for_lang("/api/token/index.html") %>"><%= __('content.token') %></a>
        </li>
        <li>
            <a href="<%- url_for_lang("/api/fibosjs/index.html") %>"><%= __('content.fibos') %></a>
        </li>
        <li>
            <a href="<%- url_for_lang("/api/rpc/index.html") %>"><%= __('content.rpc') %></a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div id="footer">
  <div class="social-icon">
    <div>
      <p>
        <img class="downicon" src="<%- url_for("/images/downlogo.png") %>" alt="Developer logo">
      </p>
      <p class="foot-text"><%= __('footer.text') %></p>
    </div>
    <% if (page.lang === 'zh-cn') { %>
    <div>
      <p class="foot-contact"><%= __('footer.contact') %></p>
      <ul>
        <li>
          <a href="javascript:void(0)" class="qrcode">
            <img class="hero-logo" src="<%- url_for("/images/Shape.png") %>">
            <img class="qrcodeImg" src="<%- url_for("/images/qrcode.jpeg") %>">
          </a>
        </li>
        <li>
          <a href="https://weibo.com/u/6563835901?" target="_blank">
            <img class="hero-logo" src="<%- url_for("/images/wbcopy.png") %>">
          </a>
        </li>
        <li>
          <a href="https://t.me/FIBOSDEV" target="_blank">
            <img class="hero-logo" src="<%- url_for("/images/telegram.png") %>">
          </a>
        </li>
        <li>
          <a href="https://github.com/FIBOSIO" target="_blank">
            <img class="hero-logo" src="<%- url_for("/images/github.png") %>">
          </a>
        </li>
      </ul>
    </div>
    <% } %>
  </div>
  <div class="Copyright">
    <p>
      Copyright © 2018 - 2019 <a href="https://fibos.io/" target="_blank">FIBOS.IO</a> All Rights Reserved
    </p>
  </div>

</div>


<script>
  (function () {
    var topScrolled = false
    var sponsors = document.getElementById('highlights')
    var sponsorTop = sponsors.offsetTop
    var sponsorActive = false

    window.addEventListener('resize', function () {
      sponsorTop = sponsors.offsetTop
    })

    window.addEventListener('scroll', function () {
      if (window.pageYOffset > 165 && !topScrolled) {
        topScrolled = true
        document.getElementById('mobile-bar').classList.remove('top')
      } else if (window.pageYOffset <= 165 && topScrolled) {
        topScrolled = false
        document.getElementById('mobile-bar').classList.add('top')
      }
      if (window.pageYOffset > sponsorTop - 100) {
        if (!sponsorActive) {
          sponsorActive = true
          sponsors.classList.add('active')
        }
      } else {
        if (sponsorActive) {
          sponsorActive = false
          sponsors.classList.remove('active')
        }
      }
    })
  })()
</script>